Shane Maloney <shane.maloney@dias.ie> Shane Maloney <shane.maloney@tcd.ie>
Shane Maloney <shane.maloney@dias.ie> Shane Maloney <shane@dhcp-192.wireless.ap.dias.ie>
Shane Maloney <shane.maloney@dias.ie> Shane Maloney <shane@spacemacs.local>
Laura Hayes <hayesla@tcd.ie> hayesla <hayesla@tcd.ie>
Daniel F. Ryan <ryand5@tcd.ie> Dan Ryan <ryand5@tcd.ie>
Daniel F. Ryan <ryand5@tcd.ie> DanRyanIrish <ryand5@tcd.ie>
